
.DS_Store
node_modules

/package
.env
/.idea/
/.gitignore

/frontEnd/.htaccess
/frontEnd/.svelte-kit/
/frontEnd/.vite/deps_temp_e4af788e/
/frontEnd/build/

/frontEnd/package-lock.json

/backEnd/.idea/
/backEnd/.gitignore
/backEnd Locale/

/backEnd/package-lock.json
