
@mixin rainbowTransition() {
	filter:
		brightness(0) 	saturate(100%)
		invert(15%) 	sepia(75%)
		saturate(5273%) hue-rotate(271deg)
		brightness(97%) contrast(132%);}

@keyframes colorRotateFadeIn {
	from {  color: var(--accent9);}
	to {    color: var(--accent3);}};

@keyframes colorRotate {
	0% {	color: var(--accent3);}
	15% {	color: var(--accent7);}
	30% {	color: var(--accent1);}
	50% {	color: var(--accent2);}
	65% {	color: var(--accent5);}
	80% {	color: var(--accent6);}
	100% {	color: var(--accent3);}}

// TODO: title types

.titleH4 {
	transition: filter .4s ease-in-out;
	padding: 		0 10px 10px 3px;
	white-space: 	nowrap;
	text-transform: uppercase;
	position: 		relative;}

a { transition: .5s ease; //fallback transition
	&:hover {
		.titleH4 {
			@include rainbowTransition();}}}

// TODO: generic texts

.citation {
	font-size: 		10px;
	font-family: 	"Helvetica", Sans-serif;
	color:          var(--accent9);

	position: 	relative;
	display: 	block;

	span {
		transition: color .3s ease-in-out;
		color: var(--accent1);
		&::selection {
			color: var(--accent1);};}

	&:hover {
		> span {
			color: var(--accent3);
			&::selection {
				color: var(--accent3)!important;}}}}

.externalCitation {
	width:          max-content;
	padding:        3px 10px 3px 3px;
	background:     var(--TransBlack);

	position: 	    relative;
	display: 	    block;

	border-right:       1px solid var(--accent2);
	&.hover:hover {
		border-right:   1px solid var(--accent3);}}

// TODO: description

.quote {
	border-left: 	1px solid var(--accent10);
	border-right: 	1px solid var(--accent10);
	padding: 		10px;

	position:       relative;
	white-space:    pre-line;

	&::before, &::after {
		position: 	absolute;
		font-size: 	40px;}
	&::before {
		top:        0;
		left: 		0;
		margin: 	7px 0 0 -12px;
		content: 	open-quote;}
	&::after {
		bottom:     0;
		right:      0;
		margin: 	0 -10px -10px 0;
		content: 	close-quote;}}

// TODO: cropping

.shortBorder, .regularBorder, .wideBorder {
				vertical-align: bottom;}
.shortBorder {  border-radius: 	var(--bordersmall);}
.regularBorder {border-radius: 	var(--bordernormal);}
.wideBorder {   border-radius: 	var(--borderWide);}


.imageWrapper {
	width: 		    100%;
	position: 	    relative;
	overflow: 	    hidden;
	vertical-align: bottom;
	display:        flex;

	img:not(.tinyIco) {
		height: 	100%;
		width: 		100%;
		object-fit: cover;}}

// TODO: containers

.imageCite {
	background: 	var(--TransBlack);

	padding:	5px 10px;
	bottom: 	10px;
	width: 		max-content;

	position:	absolute;}

// TODO: icons

a {
	.socialIco {
		background-color: var(--accent9);

		padding: 	4px;
		margin: 	5px;

		right: 		0;
		bottom: 	42px;

		position: 	absolute;
		z-index:    100;}

	&:hover {
		.socialIco {
			transform: scale(1.1);}
		img {
			transform: scale(1.1);}}}

.profileIcon {
	width: 	        40px;
	height:         40px;
	border-radius:  var(--bordernormal);
	overflow: 		hidden;}

.mediaIcon {
	margin: auto 0;
	width:  26px;
	height: 26px;
	img {
		width:  100%;
		height: 100%;}}