
@mixin rainbowTransition() {
	filter:
		brightness(0) 	saturate(100%)
		invert(15%) 	sepia(75%)
		saturate(5273%) hue-rotate(271deg)
		brightness(97%) contrast(132%);}

// TODO: title types

.titleH4 {
	padding: 		0 10px 10px 3px;
	white-space: 	nowrap;
	text-transform: uppercase;
	position: 		relative;}

a { transition: .5s ease; //fallback transition
	&:hover {
		.titleH4 {
			@include rainbowTransition();}}}

// TODO: generic texts

@mixin customFontColour($colour){
	color:          $colour;
	&::selection {
		color:      black;
		background: $colour!important;}}

@mixin citationText($colour, $hover){
	font-size: 		10px;
	font-family: 	"Helvetica", Sans-serif;
	opacity:        0.8;

	@include customFontColour(white);
	span {  @include customFontColour($colour);}

	&:hover {
		@include customFontColour(var(--accent0));
		> span {    @include customFontColour($hover);}}}

.citation {
	font-size: 		10px;
	font-family: 	"Helvetica", Sans-serif;
	position: 	relative;
	display: 	block;

	@include customFontColour(white);
	span {
		@include customFontColour(var(--accent1));}

	&:hover {
		@include customFontColour(var(--accent0));
		> span {
			@include customFontColour(var(--accent3));}}}

.externalCitation {
	width:          max-content;
	padding:        3px 10px 3px 3px;
	background:     var(--backgroundTrans);

	position: 	    relative;
	display: 	    block;

	border-right:       1px solid var(--accent8);
	&.hover:hover {
		border-right:   1px solid var(--accent3);}}

.generic {
	font-family: 	"Helvetica", Sans-serif;
	margin-bottom: 	10px;}

// TODO: description

@mixin shortForm($lineCount)  {
	font-family:	"Helvetica", Sans-serif;

	line-height: 	1rem;
	display: 		-webkit-box;
	overflow: 		hidden;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lineCount;

	padding: 		10px 10px 0 10px;
	margin-bottom: 	10px;} // required for the text overflow to behave.

.quote {
	border-left: 	1px solid var(--accent8);
	border-right: 	1px solid var(--accent8);
	padding: 		10px;

	position: relative;

	&::before,
	&::after {
		position: 	absolute;
		font-size: 	50px;}
	&::before {
		top:        0;
		left: 		0;
		margin: 	5px 0 0 -12px;
		content: 	open-quote;}
	&::after {
		bottom:     0;
		right:      0;
		margin: 	0 -10px -10px 0;
		content: 	close-quote;}}

// TODO: cropping

.regularBorder {
	//border-radius: 	5px;
	overflow: 		hidden;
	vertical-align: bottom;}

.shortBorder {
	//border-radius: 	3px;
	overflow: 		hidden;
	vertical-align: bottom;}

.imageWrapper {
	width: 		100%;
	position: 	relative;
	overflow: 	hidden;

	img:not(.tinyIco) {
		height: 	100%;
		width: 		100%;
		object-fit: cover;}}

// TODO: containers

.nsfw {
	img,
	.blurCont {
		transition: ease .3s;}

	&.hoverable {
		&:hover {
			.blurCont {
				&:before, &:after {
					background: black;}
				img {
					transform: scale(1.15);}}}}

	&.hidden {
		&:hover {
			cursor: url('/cursors/busy.gif'), crosshair;}
		> a {
			pointer-events: none;}}

	.blurCont {
		position:   relative;
		width:      100%;
		height:     100%;

		&:before, &:after {
			position: 	absolute;
			z-index: 	100;
			transition: ease .3s;

			left: 		50%;
			top: 		50%;

			font-family:    "Helvetica", Sans-serif;
			white-space: 	nowrap;
			color: 			white;
			background: 	var(--backgroundTrans);

			padding: 		5px 20px;
			border-radius: 	5px;}
		&:before {
			content: 		"Content Warning";
			font-weight: 	600;

			transform: 	translate(-50%, -156%);}
		&:after {
			content: 		"Click to preview";
			transform: 	translate(-50%, -39%);
			font-size: 11px;}

		img {
			filter:     blur(10px);
			transform:  scale(1.05);}}}

// TODO: icons

.tinyIco {
	width: 	22px;
	height: 22px;}

a {
	.socialIco {
		background: var(--backgroundTrans);

		padding: 	5px;
		margin: 	5px;

		right: 		0;
		bottom: 	42px;

		position: 	absolute;
		z-index:    100;}

	&:hover {
		.socialIco {
			background-color: black;}
		img {
			transform: scale(1.1);}}}

.profileIcon {
	width: 	        40px;
	height:         40px;
	overflow: 		hidden;

	transition: transform ease .3s;

	&:hover {
		transform: scale(1.2);}}

// TODO: buttons

.buttonPadding {
	p { padding: 	6px 8px 5px 8px;

		line-height: 	1rem;
		font-family: 	"Helvetica", Sans-serif;
		font-size: 		12px;
		font-weight: 	600;
		color: 			black;}

	&.inline {
		p { display: 		-webkit-box;
			overflow: 		hidden;

			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			padding: 	6px 8px 0 8px;}
		padding-bottom: 5px;}}

.button {
	width: 		min-content;
	height: 	min-content;
	overflow: 		hidden;

	&.small {
		img {   width: 20px;
				height: 20px;}}

	&:hover {
		img {
			background: var(--accent2);}}

	img {
		position: 	    relative;
		transition: 	ease .3s;
		padding: 		5px;
		//border-radius: 	5px;
		border:         1px solid var(--accent2);
		background: 	var(--backgroundTrans);}}

