
@mixin rainbowTransition() {
	filter:
		brightness(0) 	saturate(100%)
		invert(15%) 	sepia(75%)
		saturate(5273%) hue-rotate(271deg)
		brightness(97%) contrast(132%);}

@keyframes spin {
	from {	transform: translate(-50%,-50%) rotate(360deg);}
	to {	transform: translate(-50%,-50%) rotate(0deg);}}

// TODO: title types

.titleH4 {
	padding: 		0 10px 10px 3px;
	white-space: 	nowrap;
	text-transform: uppercase;
	position: 		relative;}

a { transition: .5s ease; //fallback transition
	&:hover {
		.titleH4 {
			@include rainbowTransition();}}}

// TODO: generic texts

.citation {
	font-size: 		10px;
	font-family: 	"Helvetica", Sans-serif;
	color:          white;

	position: 	relative;
	display: 	block;

	span {
		color: var(--accent1);
		&::selection {
			color: var(--accent1);};}

	&:hover {
		> span {
			color: var(--accent3);
			&::selection {
				color: var(--accent3)!important;}}}}

.externalCitation {
	width:          max-content;
	padding:        3px 10px 3px 3px;
	background:     var(--backgroundTrans);

	position: 	    relative;
	display: 	    block;

	border-right:       1px solid var(--accent8);
	&.hover:hover {
		border-right:   1px solid var(--accent3);}}

.generic {
	font-family: 	"Helvetica", Sans-serif;
	margin-bottom: 	10px;}

// TODO: description

@mixin shortForm($lineCount)  {
	font-family:	"Helvetica", Sans-serif;

	line-height: 	1rem;
	display: 		-webkit-box;
	overflow: 		hidden;

	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lineCount;

	padding: 		10px 10px 0 10px;
	margin-bottom: 	10px;} // required for the text overflow to behave.

.quote {
	border-left: 	1px solid var(--accent10);
	border-right: 	1px solid var(--accent10);
	padding: 		10px;

	position: relative;

	&::before,
	&::after {
		position: 	absolute;
		font-size: 	50px;}
	&::before {
		top:        0;
		left: 		0;
		margin: 	5px 0 0 -12px;
		content: 	open-quote;}
	&::after {
		bottom:     0;
		right:      0;
		margin: 	0 -10px -10px 0;
		content: 	close-quote;}}

// TODO: cropping

$wideBorder:    8px; //   10
$normalBorder:  5px; //   5
$shortBorder:   3px; //   3

.wideBorder {
	border-radius: 	$wideBorder;
	vertical-align: bottom;}

.regularBorder {
	border-radius: 	$normalBorder;
	vertical-align: bottom;}

.shortBorder {
	border-radius: 	$shortBorder;
	vertical-align: bottom;}

.imageWrapper {
	width: 		    100%;
	position: 	    relative;
	overflow: 	    hidden;
	vertical-align: bottom;
	display:        flex;

	img:not(.tinyIco) {
		height: 	100%;
		width: 		100%;
		object-fit: cover;}}

// TODO: containers

.imageCite {
	background: 	var(--backgroundTrans);

	padding:	5px 10px;
	bottom: 	10px;
	width: 		max-content;

	position:	absolute;}

// TODO: icons

.tinyIco {
	border-radius: $shortBorder;
	width: 	22px;
	height: 22px;}

a {
	.socialIco {
		background: var(--backgroundTrans);

		padding: 	5px;
		margin: 	5px;

		right: 		0;
		bottom: 	42px;

		position: 	absolute;
		z-index:    100;}

	&:hover {
		.socialIco {
			background-color: black;}
		img {
			transform: scale(1.1);}}}

.profileIcon {
	width: 	        40px;
	height:         40px;
	border-radius:  $normalBorder;
	overflow: 		hidden;}

.mediaIcon {
	margin: auto 0;
	width:  26px;
	height: 26px;
	img {
		width:  100%;
		height: 100%;}}

// TODO: buttons

.buttonPadding {
	p { padding: 	6px 8px 5px 8px;

		line-height: 	1rem;
		font-family: 	"Helvetica", Sans-serif;
		font-size: 		12px;
		font-weight: 	600;
		color: 			black;}

	&.inline {
		p { display: 		-webkit-box;
			overflow: 		hidden;

			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			padding: 	6px 8px 0 8px;}
		padding-bottom: 5px;}}

.neonButton {
	width: 		min-content;
	height: 	min-content;
	overflow: 		hidden;
	vertical-align: bottom;

	transition: ease .3s;
	img {
		vertical-align: bottom;
		transition: ease .3s;}

	&.small {
		img {   width:  18px;
				height: 18px;}}

	padding: 		5px;
	border-radius: 	$normalBorder;

	background: 	white;
	border: 1px solid var(--accent2);

	img {
		filter:     invert(1);
		position: 	relative;}

	&:hover {
		background: var(--accent2);
		img {
			filter: invert(0);}}}

.navigationButton {
	width: 		min-content;
	overflow: 		hidden;
	vertical-align: bottom;

	transition: background ease .3s;

	&.vertical {
		height: 12px;
		padding: 5px 10px;
		border-radius: $normalBorder;
		transition: ease 0.3s;
	}

	background: var(--backgroundTrans);

	img {
		height: 12px;
		width:  22px;
		vertical-align: top;
	}

	&:hover {
		background: var(--accent2);
	}
}
