
@import "./src/commonStyles.scss";

/* Root variables formatting */
:root {
	--accent11: #0c0021; --textAccent11: #fff;
	--accent2:  #8c00ff; --textAccent2:  #fff;
	--accent1:  #ff0582; --textAccent1:  #fff;
	--accent4:  #ff00fb; --textAccent4:  #000;
	--accent5:  #00ffff; --textAccent5:  #000;
	--accent6:  #00ff59; --textAccent6:  #000;
	--accent3:  #ffcc00; --textAccent3:  #000;
	--accent7:  #ff8800; --textAccent7:  #000;
	--accent10: #48575a; --textAccent10: #fff;
	--accent9:  #ffffff; --textAccent9:  #000;
	--TransBlack: rgba(0, 0, 0, 0.6);
	--TransWhite: rgba(255, 255, 255, 0.9);

	--bordersmall: 3px;
	--bordernormal: 6px;
	--borderWide: 9px;

	--imageSpacing: 5px;
	--marginGap: 15px;
	--spacing: 15px;
}

/* document formatting */

* { scrollbar-color:    var(--accent2) transparent;
	scrollbar-width:    thin;

	&::-webkit-scrollbar {
		width: 			0.2em;}
	&::-webkit-scrollbar-track {
		background: 	transparent;}
	&::-webkit-scrollbar-thumb {
		border-radius: 	2px;
		background: 	var(--accent2);}
	&::-webkit-scrollbar-thumb:hover {
		background: 	var(--accent1);}
	&::-webkit-scrollbar-thumb:active {
		background: 	var(--accent6);}}

html {
	margin-left: calc(100vw - 100%); }

body {
	min-height: 100vh; // DONT REMOVE. THIS BREAKS MOBILE.
	overflow-y: scroll;
	margin: 	0;
	position:   relative;

	background:		#000;
	font-family:    "Georgia", serif;
	color:	 		var(--accent9);

	overflow-x:         hidden;
	scroll-behavior:    smooth;

	&::selection {
		color:  var(--accent6)}
}

// cursor defaults

body {      cursor: crosshair;}
a {         cursor: crosshair;}
*:active {  cursor: crosshair;}

/* style formatting */

a { text-decoration:    none;
	&::selection {
		color: var(--accent2);}
	* { color: var(--accent9);}}

b {
	color: var(--accent3);}

h1, h2, h3, h4, h5 {
	&::selection {
		color: var(--accent6);}

	vertical-align: middle;
	font-family:    "Playfair Display", serif;
	text-transform: capitalize;

	position:   relative;
	margin:     0;
	padding:    0;}

.selectInv {
	&::selection {
		color:  var(--accent2);}}

h1 {font-size: 2.00rem; line-height: 2.00rem;   text-transform: uppercase;}
h2 {font-size: 1.75rem; line-height: 1.75rem;   text-transform: uppercase;}
h3 {font-size: 1.50rem; line-height: 1.50rem;   text-transform: uppercase;}
h4 {font-size: 1.25rem; line-height: 1.25rem;}
h5 {font-size: 1.10rem; line-height: 1.10rem;}

p { font-size:      12px;
	font-family:	"Helvetica", Sans-serif;
	white-space:    break-spaces;
	line-height:    120%;
	color:	 		var(--accent9);
	&::selection {
		color:      var(--accent6);}
	margin: 		0;}

.subtitle {
	font-weight: 	600;
	font-family:    "Playfair Display", serif;}

.fancy {
	font-size: 13px;
	font-family: "Playfair Display", serif;}

/* list formatting */

title {
	display: none;}

span {
	&::selection {
		color:      var(--accent1);}}

ul {
	padding: 0 0 0 15px;

	li {
		padding:        0 0 4px 5px;
		font-family:    "Helvetica", Sans-serif;
		font-size:      12px;
		line-height:    110%;
		&::selection {
			color:      var(--accent6);}

		&::marker {
			font-weight: 	700;
			vertical-align: middle;
			font-size: 	   .85em;}

		&:last-of-type {
			padding-bottom: 0;}}}