
@import "./src/commonStyles.scss";

/* Root variables formatting */
:root {
	--accent9:  #ffffff;
	--accent10: #48575a;
	--accent11: #0c0021;
	--accent2:  #8c00ff;
	--accent1:  #ff0582;
	--accent4:  #ff00fb;
	--accent5:  #00ffff;
	--accent6:  #00ff59;
	--accent3:  #ffcc00;
	--accent7:  #ff8800;

	--TransBlack: rgba(0, 0, 0, 0.6);
	--TransWhite: rgba(255, 255, 255, 0.9);

	--bordersmall: 3px;
	--bordernormal: 6px;
	--borderWide: 9px;

	--imageSpacing: 5px;
	--spacing: 15px;
}

/* document formatting */

* { scrollbar-color:    var(--accent2) transparent;
	scrollbar-width:    thin;

	&::-webkit-scrollbar {
		width: 			0.2em;}
	&::-webkit-scrollbar-track {
		background: 	transparent;}
	&::-webkit-scrollbar-thumb {
		border-radius: 	2px;
		background: 	var(--accent2);}
	&::-webkit-scrollbar-thumb:hover {
		background: 	var(--accent1);}
	&::-webkit-scrollbar-thumb:active {
		background: 	var(--accent6);}}

html {
	margin-left: calc(100vw - 100%); }

body {
	min-height: 100vh; // DONT REMOVE. THIS BREAKS MOBILE.
	overflow-y: scroll;
	margin: 	0;
	position:   relative;

	background:		#000;
	font-family:    "Georgia", serif;
	color:	 		var(--accent9);

	overflow-x:         hidden;
	scroll-behavior:    smooth;

	&::selection {
		color:  var(--accent6);}}

.noScroll {
	overflow: hidden;
}

// cursor defaults

body {      cursor: crosshair;}
a {         cursor: crosshair;}
*:active {  cursor: crosshair;}

.wrapCorrection {
	-webkit-box-sizing: border-box; 	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: 	border-box; 	/* Firefox, other Gecko */
	box-sizing: 		border-box;}


/* style formatting */

a { text-decoration:    none;
	&::selection {
		color: var(--accent2);}
	* { color: var(--accent9);}}

b {
	color: var(--accent3);}

h1, h2, h3, h4, h5 {
	&::selection {
		color: var(--accent6);}

	vertical-align: middle;
	font-family:    "Playfair Display", serif;
	text-transform: capitalize;

	position:   relative;
	margin:     0;
	padding:    0;}

.selectInv {
	&::selection {
		color:  var(--accent2);}}

h1 {font-size: 2.00rem; line-height: 2.00rem;   text-transform: uppercase;}
h2 {font-size: 1.75rem; line-height: 1.75rem;   text-transform: uppercase;}
h3 {font-size: 1.50rem; line-height: 1.50rem;   text-transform: uppercase;}
h4 {font-size: 1.25rem; line-height: 1.25rem;}
h5 {font-size: 1.10rem; line-height: 1.10rem;}

p { font-size:      12px;
	font-family:    "Arial", Sans-serif, serif;
	white-space:    break-spaces;
	line-height:    120%;
	color:	 		var(--accent9);
	&::selection {
		color:      var(--accent6);}
	margin: 		0;}

.subtitle {
	font-weight: 	600;
	font-family:    "Playfair Display", serif;}

.fancy {
	font-size: 13px;
	font-family: "Playfair Display", serif;}

.citation {
	font-size: 		10px;
	font-family: 	"Helvetica", Sans-serif;
	color:          var(--accent9);

	position: 	relative;
	display: 	block;

	span {
		transition: color .3s ease-in-out;
		color: var(--accent1);
		&::selection {
			color: var(--accent1);};}

	&:hover {
		> span {
			color: var(--accent3);
			&::selection {
				color: var(--accent3)!important;}}}}
/* list formatting */

title {
	display: none;}

span {
	&::selection {
		color:      var(--accent1);}}

ul {
	padding: 0 0 0 15px;

	li {
		padding:        0 0 4px 5px;
		font-family:    "Helvetica", Sans-serif;
		font-size:      12px;
		line-height:    110%;
		&::selection {
			color:      var(--accent6);}

		&::marker {
			font-weight: 	700;
			vertical-align: middle;
			font-size: 	   .85em;}

		&:last-of-type {
			padding-bottom: 0;}}}


.quote {
	border-left: 	1px solid var(--accent10);
	border-right: 	1px solid var(--accent10);
	padding: 		10px;

	position:       relative;
	white-space:    pre-line;

	&::before, &::after {
		position: 	absolute;
		font-size: 	40px;}
	&::before {
		top:        0;
		left: 		0;
		margin: 	7px 0 0 -12px;
		content: 	open-quote;}
	&::after {
		bottom:     0;
		right:      0;
		margin: 	0 -10px -10px 0;
		content: 	close-quote;}}
