
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

/* Root variables formatting */
:root {
	--pure1: #fff;
	--transPure1: rgba(255, 255, 255, 0.9);
	--pure2: #000;
	--transPure2: rgba(0, 0, 0, 0.6);

	--accent1:          #8c00ff;
	--accent2:          #00ff59;
	--alternateAccent1: #ff8800;
	--alternateAccent2: #ff0582;
	--alternateAccent3: #ffcc00;
	--alternateAccent4: #00ffff;

	--dark1:  #333639FF;
	--dark2:  #0c0021;

	--bordersmall: 3px;
	--bordernormal: 6px;
	--borderWide: 9px;

	--smallSpacing: 5px;
	--normalSpacing: 10px;
	--largeSpacing: 15px;
}

/* document formatting */

* { scrollbar-color:    var(--accent1) transparent;
	scrollbar-width:    thin;

	&::-webkit-scrollbar {
		width: 			0.2em;}
	&::-webkit-scrollbar-track {
		background: 	transparent;}
	&::-webkit-scrollbar-thumb {
		border-radius: 	2px;
		background: 	var(--accent1);}
	&::-webkit-scrollbar-thumb:hover {
		background: 	var(--alternateAccent2);}
	&::-webkit-scrollbar-thumb:active {
		background: 	var(--accent2);}}

html {
	margin-left: calc(100vw - 100%); }

body {
	min-height: 100vh; // DONT REMOVE. THIS BREAKS MOBILE.
	overflow-y: scroll;
	margin: 	0;
	position:   relative;

	background:		#000;
	font-family:    "Helvetica", Sans-serif;
	color:	 		var(--pure1);

	overflow-x:         hidden;
	scroll-behavior:    smooth;}

.noScroll {
	overflow: hidden;}

// cursor defaults

body {      cursor: crosshair;}
a {         cursor: crosshair;}
*:active {  cursor: crosshair;}

.wrapCorrection {
	-webkit-box-sizing: border-box; 	/* Safari/Chrome, other WebKit */
	-moz-box-sizing: 	border-box; 	/* Firefox, other Gecko */
	box-sizing: 		border-box;}


/* style formatting */

a { text-decoration:    none;
	* { color: var(--pure1);}}

b {}
c { font-size:     12px;
	font-family:   "Jura", serif;
	font-weight:   bold;
	&.colour {  color: var(--accent1);}}


h1, h2, h3, h4, h5 {

	vertical-align: middle;
	font-family:    "Playfair Display", serif;
	text-transform: capitalize;

	position:   relative;
	margin:     0;
	padding:    0;}

h1 {font-size: 2.00rem; line-height: 2.00rem;   text-transform: uppercase;}
h2 {font-size: 1.75rem; line-height: 1.75rem;   text-transform: uppercase;}
h3 {font-size: 1.50rem; line-height: 1.50rem;   text-transform: uppercase;}
h4 {font-size: 1.25rem; line-height: 1.25rem;}
h5 {font-size: 1.10rem; line-height: 1.10rem;}

p { font-size:      12px;
	font-family:    "Arial", Sans-serif, serif;
	white-space:    break-spaces;
	line-height:    120%;
	color:	 		var(--pure1);
	margin: 		0;}

.subtitle {
	font-weight: 	600;
	font-family:    "Playfair Display", serif;}

.fancy {
	font-size: 13px;
	font-family: "Playfair Display", serif;}

.citation {
	font-size: 		10px;
	font-family: 	"Helvetica", Sans-serif;
	color:          var(--pure1);

	position: 	relative;
	display: 	block;

	span {
		transition: color .3s ease-in-out;
		color: var(--alternateAccent3);;}

	&:hover {
		> span {
			color: var(--accent1);}}}
/* list formatting */

title {
	display: none;}

ul {
	padding: 0 0 0 15px;

	li {
		padding:        0 0 4px 5px;
		font-family:    "Helvetica", Sans-serif;
		font-size:      12px;
		line-height:    110%;

		&::marker {
			font-weight: 	700;
			vertical-align: middle;
			font-size: 	   .85em;}

		&:last-of-type {
			padding-bottom: 0;}}}


.quote {
	border-left: 	1px solid var(--dark1);
	border-right: 	1px solid var(--dark1);
	padding: 		10px;

	position:       relative;
	white-space:    pre-line;

	&::before, &::after {
		position: 	absolute;
		font-size: 	40px;}
	&::before {
		top:        0;
		left: 		0;
		margin: 	7px 0 0 -12px;
		content: 	open-quote;}
	&::after {
		bottom:     0;
		right:      0;
		margin: 	0 -10px -10px 0;
		content: 	close-quote;}}
